/* 
HÉBERGEMENT GAUCHE
*/
#leftSide {
  flex: 3;
  background-color: var(--colorGray);
  flex-wrap: wrap;
  align-content: space-between;
  border-radius: 32px;
}
#titleAccomodation {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  padding-left: 64px;
  padding-top: 32px;
}
.accomodationCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
  /* margin: 32px; */
  /* padding: 32px; */
}
.roomCard {
  background-color: white;
  padding: 4px;
  border-radius: 32px;
  box-shadow: var(--boxShadow);
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.imgRoomCard img {
  border-radius: 32px 32px 0 0;
  width: 100%;
  height: auto;
  height: 180px;
}
.infoRoomCard {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  justify-content: space-evenly;
}

/* GESTION DE LA GUERRE DES ETOILES */

/* ********* room Stars *********** */
.roomCard .stars .ratingIconBlue {
  color: var(--colorBlue);
}
.roomCard .stars .ratingIconGrey {
  color: lightslategrey;
}
#moreAccomodation {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  padding-top: 32px;
  padding-left: 64px;
}
/*Animation HOVER*/
.roomCard:hover {
  transform: scale(1.01);
  cursor: grab;
}
