/*
--ActivitiesCards--
*/

/* TODO:WIP*************************************************************/
/* #activityOnMarseilleSection {
  
} */
#activityOnMarseilleSection {
  background-color: white;
  margin-bottom: 32px;
}
.activityOnMarseille {
  display: flex;
  background-color: white;
  gap: 32px 32px;
}

/* 
--ACTIVITIES ON MARSEILLE PART1--
 */
.activities1 {
  display: flex;
  gap: 32px;
}
.getOutMarseilleCard1 {
  max-width: fit-content;
  border-radius: 16px;
  box-shadow: var(--boxShadow);
}
.getOutMarseilleCard2 {
  max-width: fit-content;
  box-shadow: var(--boxShadow);
  border-radius: 16px;
}
.getOutMarseilleCard3 {
  max-width: fit-content;
  border-radius: 16px;
  box-shadow: var(--boxShadow);
}

.getOutMarseilleCard1 .marseilleActivitiesCardImg {
  height: 400px;
  width: 312px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.luneSurLAutre1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}
.getOutMarseilleCard2 .marseilleActivitiesCardImg {
  height: 176px;
  width: 304px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.getOutMarseilleCard3 .marseilleActivitiesCardImg {
  height: 136px;
  width: 304px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
/* 
--ACTIVITIES ON MARSEILLE PART2--
 */

.activities2 {
  display: flex;
  gap: 32px;
}
.getOutMarseilleCard4 {
  max-width: fit-content;
  box-shadow: var(--boxShadow);
  border-radius: 16px;
}

.getOutMarseilleCard5 {
  max-width: fit-content;
  box-shadow: var(--boxShadow);
  border-radius: 16px;
}

.getOutMarseilleCard6 {
  max-width: fit-content;
  box-shadow: var(--boxShadow);
  border-radius: 16px;
}

.getOutMarseilleCard4 .marseilleActivitiesCardImg {
  height: 400px;
  width: 312px;
  border-radius: 16px 16px 0 0;
}
.luneSurLAutre2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}
.getOutMarseilleCard5 .marseilleActivitiesCardImg {
  height: 136px;
  width: 304px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.getOutMarseilleCard6 .marseilleActivitiesCardImg {
  height: 176px;
  width: 304px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.h3Activities {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 18px;
  font-weight: bolder;
  /* margin-bottom: 32px; */
}
/* .getOutMarseilleCard {
  margin-bottom: 16px;
} */
/* TODO fix difference de bottom  */
