#activityOnMarseilleSection {
  background-color: white;
  margin-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.activityOnMarseille {
  display: flex;
  background-color: white;
  gap: 32px 32px;
}
#titleSectionAM {
  width: 100%;
  margin-bottom: 32px;
}

.h4Activities {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 18px;
  font-weight: bolder;
  padding-top: 16px;
  padding-left: 8px;
  padding-bottom: 16px;
}
.aJamaisDesTricheurs {
  display: flex;
  flex: 4;
  flex-wrap: wrap;
  gap: 32px;
}
.onlyOneImgCard {
  flex: 1;

  flex-direction: column;
  width: 100%;
  height: 100%;
}
.onlyOneImgCard img {
  border-radius: 16px 16px 0 0;
  width: 100%;
}

.doubleImgCard {
  flex: 1;

  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.doubleImgCard img {
  border-radius: 16px 16px 0 0;
  width: 100%;
}
.getOutMarseilleCard {
  box-shadow: var(--boxShadow);
  border-radius: 16px;
  /* border: 2px solid transparent; */
}
.getOutMarseilleCard:hover {
  transform: scale(1.01);
  cursor: grab;
}
.getOutMarseilleCardSpace {
  margin-bottom: 32px;
}
/* test */

.marseilleActivitiesCardImg1 {
  height: 400px;
  width: 312px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.marseilleActivitiesCardImg2 {
  height: 176px;
  width: 304px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.marseilleActivitiesCardImg3 {
  height: 136px;
  width: 304px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.marseilleActivitiesCardImg4 {
  height: 400px;
  width: 312px;
  border-radius: 16px 16px 0 0;
}

.marseilleActivitiesCardImg5 {
  height: 136px;
  width: 304px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.marseilleActivitiesCardImg6 {
  height: 176px;
  width: 304px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
