/* 
--footer--
 */
/* TODO: footer style */
.footerSection {
  display: flex;
  justify-content: space-between;
  background-color: var(--colorGray);
  padding-bottom: 32px;
}
.liNavFooter {
  list-style-type: none;
  padding-top: 16px;
}

.navFooter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 64px;
  /* padding-right: 32px; */
  /* margin-right: 256px; */
}
.ulNavFooter {
  display: flex;
  padding: 0;
  justify-content: space-around;
  flex-direction: column;
}
.h4NavFooter {
  padding-top: 32px;
}
