/* 
--footer--
 */

.footerSection {
  display: flex;
  justify-content: space-between;
  background-color: var(--colorGray);
  padding-bottom: 16px;
}
.liNavFooter {
  list-style-type: none;
  padding-top: 16px;
}

.navFooter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.ulNavFooter {
  display: flex;
  padding: 0;
  justify-content: space-around;
  flex-direction: column;
}
.h4NavFooter {
  padding-top: 32px;
}
