#logoBooki {
  margin-right: auto;
  padding: 0 24px;
  width: 160px;
}
#navHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#navHeader a {
  padding: 24px;
  border-top: 2px solid transparent;
}
#navHeader a:hover {
  border-top: 2px solid var(--colorBlue);
  color: var(--colorBlue);
}
#subMenu {
  display: flex;
}
