@media screen and (min-width: 769px) and (max-width: 992px) {
  #popularRoomSection {
    background-color: var(--colorGray);
  }
  .popularRoomCard {
    flex-grow: 1;
  }
  #accommodationSection {
    background-color: var(--colorGray);
  }
}
