@media screen and (max-width: 768px) {
  #logoBooki {
    margin: auto;
  }

  #subMenu {
    /* proprieter flex equibvalent a la width: ; */
    /* flex-basis: 100%; */
    width: 100%;
  }
  #subMenu a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid var(--colorGray);
  }

  #subMenu a:hover {
    border-bottom: 3px solid var(--colorBlue);
    border-top-color: transparent;
  }

  /*SEARCH BAR*/
  i.fa-search {
    display: block;
    background-color: var(--colorBlue);
    color: whitesmoke;
    border-color: var(--colorBlue);
    font-weight: bold;
    border-radius: 16px;
    margin-left: -20px;
  }
  .searchForm {
    justify-content: center;
  }
  .destination {
    margin: 0;
  }
  .searchForm .vaChercher {
    display: none;
  }
  #h2Filters {
    width: 100%;
  }
  /* ------------------------------------------------------------------ */
  #accomodationANDpopularSection {
    flex-direction: column;
  }

  /* POPULAR ROOM SECTION */
  #rightSide {
    /* background-color: var(--colorGray); */
    border: 3px solid deeppink;
    background-color: purple;
    order: -1;
    width: 100%;
  }
  .popularRoomCard {
    flex-grow: 1;
  }

  /* ACCOMODATION ROOM SECTION */

  #leftSide {
    background-color: deeppink;
    border: 3px solid rebeccapurple;
  }

  .roomCard {
    flex-grow: 1;
    /* width: 100%; */
    /*  */
    max-width: 100%;
    max-height: 100%;
  }
  .roomCardImg {
    width: 100%;
    /*  */
    object-fit: cover;
    object-position: top;
  }

  /* ACTIVITIES ON MARSEILLE */

  .aJamaisDesTricheurs {
    flex-direction: column;
    width: auto;
  }
  /* height: 240px; */
  .onlyOneImgCard {
    margin-bottom: 0;
    padding-bottom: 0;
    max-width: 100%;
    max-height: 100%;
  }
  doubleImgCard {
    margin-bottom: 0;
    padding-bottom: 0;
    max-width: 100%;
    max-height: 100%;
  }

  .onlyOneImgCard img {
    height: 240px;
    width: 100%;
  }
  doubleImgCard img {
    height: 240px;
    width: 100%;
  }
  /* .marseilleActivitiesCardImg {
    height: 240px;
    width: 100%;
  } */

  /* FOOTER */

  footer {
    background-color: var(--colorGray);
  }
  .footerSection {
    flex-direction: column;
  }
  .navFooter {
    width: 100%;
    padding: 32px;
  }
}
