@media (max-width: 768px) {
  #logoBooki {
    margin-left: calc(100% / 3);
  }

  #subMenu {
    /* proprieter flex equibvalent a la width: ; */
    flex-basis: 100%;
  }
  #subMenu a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid var(--colorGray);
  }

  #subMenu a:hover {
    border-bottom: 3px solid var(--colorBlue);
    border-top-color: transparent;
  }

  /*SEARCH BAR*/
  i.fa-search {
    display: block;
    background-color: var(--colorBlue);
    color: whitesmoke;
    border-color: var(--colorBlue);
    font-weight: bold;
    border-radius: 16px;
    margin-left: -20px;
  }
  .searchForm {
    /* display: flex;
    align-items: center;
    margin-bottom: 32px; */
    justify-content: center;
  }
  .destination {
    margin: 0;
  }
  .searchForm .vaChercher {
    display: none;
  }

  /*ROOM LIST*/
  .searchResultSection {
    flex-direction: column;
  }

  #popularRoomSection {
    background-color: yellow;
    order: -1;
    margin-top: 0;
  }
  .popularRoomList {
    /*  */
    flex-direction: row;
  }
  #accommodationSection {
    background-color: palegreen;
  }
  /*POPULAR ROOM*/
  .popularRoomList {
    display: flex;
    flex-wrap: wrap;
    /* gap: 16px; */
    justify-content: space-around;
    margin-bottom: 16px;
    flex-direction: row;
  }

  .popularRoomCard {
    flex-grow: 1;
    margin: 0;
  }
  .imgPopularRoomCard img {
    width: 144px;
  }
  .roomCard {
    flex-grow: 1;
  }
  .roomCardImg {
    width: 100%;
  }

  #activityOnMarseilleSection {
    border: none;
    margin-bottom: 32px;
  }

  .activityOnMarseille {
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    border: none;
  }
  .getOutMarseilleCard {
    margin-bottom: 16px;
  }
  /*.activities1 .activities2 {
     flex-direction: row;
  }
  .luneSurLAutre1 .luneSurLAutre2 {
    flex-direction: rcollum;
  }
  .marseilleActivitiesCardImg {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: top;
  } */
  .footerSection {
    flex-direction: column;
  }
  footer {
    background-color: var(--colorGray);
  }
  .navFooter {
    width: 100%;
    padding: 32px;
  }
}
