@media (max-width: 768px) {
  #logoBooki {
    margin: auto;
  }

  #subMenu {
    /* proprieter flex equibvalent a la width: ; */
    /* flex-basis: 100%; */
    width: 100%;
  }
  #subMenu a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid var(--colorGray);
  }

  #subMenu a:hover {
    border-bottom: 3px solid var(--colorBlue);
    border-top-color: transparent;
  }

  /*SEARCH BAR*/
  i.fa-search {
    display: block;
    background-color: var(--colorBlue);
    color: whitesmoke;
    border-color: var(--colorBlue);
    font-weight: bold;
    border-radius: 16px;
    margin-left: -20px;
  }
  .searchForm {
    justify-content: center;
  }
  .destination {
    margin: 0;
  }
  .searchForm .vaChercher {
    display: none;
  }
  #h2Filters {
    width: 100%;
  }

  .searchResultSection {
    flex-direction: column;
  }

  #accommodationSection {
    background-color: white;
  }

  /* POPULAR ROOM SECTION */
  #popularRoomSection {
    margin: 0 -32px;
    background-color: var(--colorGray);
    order: -1;
  }
  .popularRoomCard {
    /* border: 2px solid goldenrod; */
    flex-grow: 1;
  }
  .searchResultSection > div {
    border-radius: 0px;
  }

  /* ACCOMODATION ROOM SECTION */

  #h2accomodation {
    padding-left: 0;
    width: 100%;
  }
  .roomCard {
    flex-grow: 1;
    width: 100%;
  }
  .roomCardImg {
    width: 100%;
  }

  /* ACTIVITIES ON MARSEILLE */

  .aJamaisDesTricheurs {
    flex-direction: column;
    width: auto;
  }
  .onlyOneImgCard {
    /* height: 240px; */
    margin-bottom: 0;
    padding-bottom: 0;
  }
  doubleImgCard {
    /* height: 240px; */
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .onlyOneImgCard img {
    height: 240px;
    width: 100%;
  }
  doubleImgCard img {
    height: 240px;
    width: 100%;
  }

  /* FOOTER */

  footer {
    background-color: var(--colorGray);
  }
  .footerSection {
    flex-direction: column;
  }
  .navFooter {
    width: 100%;
    padding: 32px;
  }
}
