@media screen and (min-width: 768px) and (max-width: 992px) {
  #accomodationANDpopularSection {
    flex-direction: column;
  }

  #rightSide {
    border: 3px solid greenyellow;
    background-color: olive;
    order: -1;
    width: 100%;
  }

  #leftSide {
    background-color: yellowgreen;
    border: 3px solid olivedrab;
  }
}
