/* popularRoomSection */
#popularRoomSection {
  /* flex-basis: 33%;
  padding: 24px; */
  flex: 1;
}

.popularRoomList {
  /*  */
  display: flex;
  flex-direction: column;
  /* gap: 16px;
  margin-bottom: 16px; */
}

#popularRoomTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px 16px 32px 16px;
  /* border: 2px solid navy; */
}

.popularRoomCard {
  display: flex;
  background-color: white;
  border-radius: 16px;
  box-shadow: var(--boxShadow);
  height: 120px;
  /* border: 2px solid goldenrod; */
  flex: 1;
  margin-bottom: 32px;
}
.imgPopularRoomCard {
  /* border: 2px solid crimson; */
  display: inline-flex;
  float: left;
  width: 39%;
  height: 100%;
  object-fit: cover;
}

/* gerer la hauteur de limage pour harmonie */

.imgPopularRoomCard img {
  width: 100%;
  height: 160px;
  padding: 4px;
  object-fit: cover;
  border-radius: 16px 0 0 16px;
}

.popularRoomCardInfo {
  display: flex;
  flex-direction: column;
  width: 59%;
  height: 100%;
  /* padding: 16px; */
  justify-content: space-around;
}

.testH3PopularRoomCard {
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
}
.stars {
  margin-top: 32px;
  flex-wrap: nowrap;
}
/********** popular Stars **********/
.popularRoomCard .popularRoomCardInfo .stars .ratingIconBlue {
  color: var(--colorBlue);
}
.popularRoomCard .popularRoomCardInfo .stars .ratingIconGrey {
  color: lightslategrey;
}
