/* 
POPULAIRES DROITE
*/

#rightSide {
  flex: 1;
  background-color: var(--colorGray);
  flex-wrap: wrap;
  align-content: space-between;
  /* ! ajout dun padding  */
  /* padding: 16px; */
  border-radius: 32px;
}
#titlePopular {
  display: flex;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  margin-bottom: 32px;
  justify-content: space-between;
}

#popularRoomCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
  margin: 32px;
}

.popularRoomCard {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 32px;
  box-shadow: var(--boxShadow);
  height: 120px;
  /* width: 300px;
  max-width: 100%; */
  padding: 4px;
  flex: 1;
  margin-bottom: 32px;
}
#popularRoomCards {
  /*  */
  display: flex;
  flex-direction: column;
}
.imgPopularRoomCard {
  display: flex;
  float: left;
  width: 39%;
  height: 100%;
  object-fit: cover;
}
.imgPopularRoomCard img {
  border-radius: 32px 0 0 32px;
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}

.infoPopularRoomCard {
  display: flex;
  flex-direction: column;
  width: 59%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 8px;
}
/* .titleAndPInfo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
} */

/* T1. T1. T1. T1. T1T1. T1. T1T1. */

/* ***** popular room Stars ***** */

.popularRoomCard .infoPopularRoomCard .stars .ratingIconBlue {
  color: var(--colorBlue);
}
.popularRoomCard .infoPopularRoomCard .stars .ratingIconGrey {
  color: lightslategrey;
}
/*Animation HOVER*/
.popularRoomCard:hover {
  transform: scale(1.02);
  cursor: grab;
}
