/* SECTION searchResult */
.searchResultSection {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
.searchResultSection > div {
  /* border: 2px solid red; */
  background-color: var(--colorGray);
  padding: 8px;
  border-radius: 16px;
}
/* accommodationSection */
#accommodationSection {
  flex-basis: 66%;
}
.accomodationRoomList {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-around;
  margin-bottom: 16px;
}

.roomCard {
  /*  */
  background-color: white;
  border-radius: 16px;
  padding: 8px;
  box-shadow: var(--boxShadow);
}

.roomCardImg {
  border-radius: 16px 16px 0 0;
  height: 160px;
  width: 245px;
  object-fit: cover;
}
.roomCard p,
.roomCard h3 {
  margin: 4px;
}

/* GESTION DE LA GUERRE DES ETOILES */

/* ********* room Stars *********** */
.roomCard .stars .ratingIconBlue {
  color: var(--colorBlue);
}
.roomCard .stars .ratingIconGrey {
  color: lightslategrey;
}
