/* SECTION searchResult */
.searchResultSection {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
.searchResultSection > div {
  /* border: 2px solid red; */
  background-color: var(--colorGray);
  padding: 8px;
  border-radius: 16px;
}
/* accommodationSection */
#accommodationSection {
  /* flex-basis: 66%;
  padding: 24px; */
  flex: 3;
  padding-bottom: 32px;
}
.accomodationRoomList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
  margin-bottom: 16px;
}
#h2accomodation {
  padding: 32px 32px;
  /* margin-bottom: 32px; */
}
.roomCard {
  /*  */
  background-color: white;
  border-radius: 16px;
  padding: 4px;
  box-shadow: var(--boxShadow);
  margin-bottom: 16px;
}

.roomCardImg {
  border-radius: 16px 16px 0 0;
  height: 154px;
  width: 245px;
  object-fit: cover;
}
.roomCard p,
.roomCard h3 {
  margin: 4px;
}
#showMore {
  margin-left: 16px;
}
/* GESTION DE LA GUERRE DES ETOILES */

/* ********* room Stars *********** */
.roomCard .stars .ratingIconBlue {
  color: var(--colorBlue);
}
.roomCard .stars .ratingIconGrey {
  color: lightslategrey;
}
