@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  /* remise a zero des bordure du site */
  box-sizing: border-box;
  font-family: "Raleway", "Arial", "Helvetica";
  /* prametrage font du site */
}
header {
  max-width: 1320px;
  margin: auto;
}
:root {
  --colorGray: #f2f2f2;
  --colorBlue: #0065fc;
  --colorLightBlue: #deebff;
  --boxShadow: 0 0 16px #0000002e;
}
a {
  color: inherit;
  /* couleur heriter de la div parent */
  text-decoration: none;
  /* supression du trait de soulignage */
}

#logoBooki {
  margin-right: auto; /* marge a droite automatique */
  /* padding: 0 2rem; padding gauche et droite */
  width: 160px;
}

nav {
  /* stylisation de mon menu de navigation */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav a {
  padding: 1.5rem; /* ajoute une marge interne entre chaque a de ma navigation */
  border-top: 2px solid transparent; /* evite le decalage au survol */
}
nav a:hover {
  border-top: 2px solid var(--colorBlue); /* cree une ligne bleu au survol du menu */
  color: var(--colorBlue);
}
#subMenu {
  display: flex;
}
main {
  max-width: 1320px;
  margin: auto;
}
/*SEARCH BAR*/
#rechercheLocation {
  padding: 0 2rem;
}
#rechercheLocation h1,
#rechercheLocation p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.searchForm {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.searchForm i {
  background-color: var(--colorGray);
  border-radius: 1rem 0 0 1rem;
  text-align: center;
  border: 1px solid var(--colorGray);
}
.searchForm input {
  border: 1px solid var(--colorGray);
}
.searchForm * {
  padding: 1rem 1.5rem;
}
.searchForm input::placeholder {
  color: black;
  font-weight: bold;
}

.searchForm .vaChercher {
  background-color: var(--colorBlue);
  color: whitesmoke;
  border-color: var(--colorBlue);
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
}
.fa-search {
  display: none;
}

/* FILTRES  */
.filter-list {
  display: flex;
  align-items: center;
  gap: 1rem 2rem;
  flex-wrap: wrap;

  margin-bottom: 32px;
}

.filter {
  border: 2px solid var(--colorGray);

  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.filter .fas {
  color: var(--colorBlue);
  background-color: var(--colorLightBlue);
  border-radius: 50%;
  margin: -2px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter span {
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.filter:hover {
  background-color: #f2f7ff;
  transform: scale(1.01);
}
/*SEARCH RESULT*/
.searchResult {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.fas.fa-info {
  color: var(--colorBlue);
  font-weight: bolder;
  border: 2px solid var(--colorGray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-top: 16px;
}
#catchPhrase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 2rem;
}

/* SECTION  searchResult */
.searchResultSection {
  display: flex;
  gap: 2rem;
}
.searchResultSection > div {
  border: 2px solid red;
  background-color: var(--colorGray);
  padding: 8px;
  border-radius: 16px;
}
/* accommodationSection */
#accommodationSection {
  flex-basis: 66%;
}
.accomodationRoomList {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-around;
  margin-bottom: 16px;
}
.accomodationRoomList div {
  /*  */
  border: 1px solid blue;
  flex-basis: calc(33%-16px);
}
.roomCard {
  /*  */
  background-color: white;
  border-radius: 16px;
  padding: 8px;
  box-shadow: var(--boxShadow);
}

.roomCardImg {
  border-radius: 16px 16px 0 0;
  height: 160px;
  width: 240px;
  object-fit: cover;
}
.roomCard p,
.roomCard h3 {
  margin: 4px;
}
/* popularRoomSection */
#popularRoomSection {
  flex-basis: 33%;
}

.popularRoomList {
  /*  */
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popularRoomList div {
  /*  */
  /* border: 1px solid navy; */
}

#popularRoomTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 16px;
}
.popularRoomCard {
  /*  */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  background-color: white;
  box-shadow: var(--boxShadow);
  border-radius: 16px;
  border: 2px solid red;
  padding: 8px;
  /*  */
}
.popularRoomCardImg {
  /*  */
  flex-direction: row;
  border-radius: 16px 0 0 16px;
  width: 144px;
  height: 100%;
}

.popularRoomCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* GESTION DE LA GUERRE DES ETOILES */

/* ********* room Stars *********** */
.roomCard .stars .ratingIconBlue {
  color: var(--colorBlue);
}
.roomCard .stars .ratingIconGrey {
  color: lightslategrey;
}
/********** popular Stars **********/
.popularRoomCard .popularRoomCardInfo .stars .ratingIconBlue {
  color: var(--colorBlue);
}
.popularRoomCard .popularRoomCardInfo .stars .ratingIconGrey {
  color: lightslategrey;
}

/*
--ActivitiesCards--
*/
/* #activityOnMarseilleSection {
  border: 3px solid red;
}
.activityOnMarseille {
  display: flex;
  border-radius: 1rem;
  border: 2px solid greenyellow;
  background-color: var(--colorGray);
  padding: 0 0 2rem 2rem;
}

.getOutMarseilleCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 16px #0000002e;
  row-gap: 2rem;
  justify-content: space-evenly;
}

.imagesActivitiesCards {
  width: 10rem;
  border-radius: 1rem 1rem 0 0;
}
#titleSectionAM {
  flex-wrap: nowrap;
} */

/*ACTION ON HOVER*/
.roomCard:hover {
  transform: scale(1.01);
  cursor: grab;
}
.popularRoomCard:hover {
  transform: scale(1.01);
  cursor: grab;
}
.getOutMarseilleCard:hover {
  transform: scale(1.01);
  cursor: grab;
}
/* 
--footer--
 */

footer {
  border: 1px solid crimson;
  background-color: var(--colorGray);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 32px;
  margin-top: 32px;
}
.A {
  border: 1px solid red;
}
.B {
  border: 1px solid yellow;
}
.C {
  border: 1px solid green;
}

/*
--MEDIA QUERIES--
*/

@media (max-width: 768px) {
  #logoBooki {
    margin-left: calc(100% / 3);
  }

  #subMenu {
    /* proprieter flex equibvalent a la width: ; */
    flex-basis: 100%;
  }
  #subMenu a {
    /* proprieter flex equibvalent a la width: ; */
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid var(--colorGray);
  }

  #subMenu a:hover {
    /* proprieter flex equibvalent a la width: ; */
    border-bottom: 3px solid var(--colorBlue);
    border-top-color: transparent;
  }

  /*SEARCH BAR*/
  i.fa-search {
    display: block;
    background-color: var(--colorBlue);
    color: whitesmoke;
    border-color: var(--colorBlue);
    font-weight: bold;
    border-radius: 16px;
    margin-left: -20px;
  }

  .searchForm .vaChercher {
    display: none;
  }

  /*ROOM LIST*/
  .searchResultSection {
    flex-direction: column;
  }

  #popularRoomSection {
    background-color: yellow;
    order: -1;
  }
  .popularRoomList {
    /*  */
    flex-direction: row;
  }
  #accommodationSection {
    background-color: palegreen;
  }
  /*POPULAR ROOM*/
  .popularRoomList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;
    flex-direction: row;
  }

  /* TODO: fix info */
  /* .popularRoomList {
    flex-direction: column;
  } */
  /* test */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #popularRoomSection {
    background-color: aqua;
  }
  #accommodationSection {
    background-color: blueviolet;
  }
}
