@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(header.css);
@import url(searchBarXFilters.css);
@import url(searchResultSection.css);
@import url(popularRoom.css);
@import url(activitiesOnMarseille.css);
@import url(footer.css);
@import url(mediaQueriesMobil.css);
@import url(mediaQueriesTablette.css);

* {
  /* remise a zero des bordure du site */
  box-sizing: border-box;
  font-family: "Raleway", "Arial", "Helvetica";
  /* prametrage font du site */
  /* overflow-x: hidden; */
}
header {
  max-width: 1320px;
  margin: auto;
}
:root {
  --colorGray: #f2f2f2;
  --colorBlue: #0065fc;
  --colorLightBlue: #deebff;
  --boxShadow: 0 0 16px #0000002e;
}
a {
  color: inherit;
  /* couleur heriter de la div parent */
  text-decoration: none;
  /* supression du trait de soulignage */
}

main {
  max-width: 1320px;
  margin: auto;
}

/*ACTION ON HOVER*/
.roomCard:hover {
  transform: scale(1.01);
  cursor: grab;
}
.popularRoomCard:hover {
  transform: scale(1.01);
  cursor: grab;
}
.getOutMarseilleCard:hover {
  transform: scale(1.01);
  cursor: grab;
}
footer {
  max-width: 1320px;
  margin: auto;
}
/*
--TEST--
*/
