@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(header.css);
@import url(searchBarXFilters.css);
@import url(accomodation.css);
@import url(popularRoom.css);
@import url(footer.css);
@import url(mediaQueriesMobil.css);
@import url(mediaQueriesTablette.css);
@import url(activitiesMarseille.css);

* {
  /* remise a zero des bordure du site */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial", "Helvetica";
  /* prametrage font du site */
}

:root {
  --colorGray: #f2f2f2;
  --colorBlue: #0065fc;
  --colorLightBlue: #deebff;
  --colorWhite: white;
  --boxShadow: 0 0 16px #0000002e;
}
a {
  color: inherit;
  /* couleur heriter de la div parent */
  text-decoration: none;
  /* supression du trait de soulignage */
}

/* SKULLETOR */

header {
  max-width: auto;
  margin: auto;
}
main {
  max-width: auto;
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}
#accomodationANDpopularSection {
  display: flex;
  gap: 32px;

  margin-bottom: 32px;
}
footer {
  max-width: auto;
  margin: auto;
}
